$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$button-radius: 8px;
$card-radius: 8px;

$regular-font: 400;
$semi-bold-font: 600;
$bold-font: 700;

$body-font: 'Verdana', Geneva, Tahoma, sans-serif;

$black:#1c1c1c;
$dark-grey: #3D3D3F;
$medium-grey: #959595;
$light-grey: #f4f4f4;
$white: #FFFFFF;

$extra-dark-color: #3D3D3F;
$dark-color-pale: #ffccc6;
$dark-color: #b52512;
$medium-color: #FD5B44;
$light-color: #fc9183; //Primary
$extra-list-color: #ffbdb5;

$green: #158463;
$blue: #2E66E5;
$red: #C94515;

.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
