@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.list-tool-bar {

    border-radius: $card-radius;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: $light-grey;

    &__create-button {
        width: 7rem;
        padding: 0.25rem;
        background-color: $medium-color;
        border-radius: $button-radius;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        &:hover{
            background-color: $dark-color;
            scale: 1.1;
        }
    }

    &__create-icon {
        width: 2rem;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(333deg) brightness(105%) contrast(101%);
    }

    &__create-text {
        padding-right: 0.25rem;
        font-weight: 600;
        color: $white;
    }

    &__sort-container {
        padding: 0.25rem;
        background-color: $medium-color;
        border-radius: $button-radius;
    }

    &__sort-icon {
        width: 2rem;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(333deg) brightness(105%) contrast(101%);
    }
}